JOB fastqc fastqc1.submit
VARS fastqc RUN="${run}"

JOB trim trimmomatic.submit
VARS trim RUN="${run}"
SCRIPT POST trim /bin/rm /staging/groups/pepperell_group/Mtb_RNAseq/RSEM/${run}_R1_001.fastq.gz /staging/groups/pepperell_group/Mtb_RNAseq/RSEM/${run}_R2_001.fastq.gz

JOB fastqc2 fastqc2.submit
VARS fastqc2 RUN="${run}"

JOB star STAR.submit
VARS star RUN="${run}"
VARS star REF="${ref}"
VARS star ANNOT_GTF="${annot_gtf}"
SCRIPT POST star /bin/rm /staging/groups/pepperell_group/Mtb_RNAseq/RSEM/Results/${run}_1P.fq.gz /staging/groups/pepperell_group/Mtb_RNAseq/RSEM/Results/${run}_2P.fq.gz

JOB rsem RSEM.submit
VARS rsem RUN="${run}"
VARS rsem REF="${ref}"
VARS rsem ANNOT_GTF="${annot_gtf}"

JOB sort samtools_sort.submit
VARS sort RUN="${run}"

JOB qc qualimapQC.submit
VARS qc RUN="${run}"
VARS qc ANNOT_GTF="${annot_gtf}"

JOB cleanup dummy.submit NOOP
# SCRIPT POST cleanup /bin/rm /staging/groups/pepperell_group/Mtb_RNAseq/RSEM/Results/${run}.sort.bam.gz /bin/rm /staging/groups/pepperell_group/Mtb_RNAseq/RSEM/Results/${run}_Aligned.toTranscriptome.out.bam

PARENT fastqc CHILD trim
PARENT trim CHILD fastqc2
PARENT fastqc2 CHILD star
PARENT star CHILD rsem sort
PARENT sort CHILD qc
PARENT rsem qc CHILD cleanup
